* {
  box-sizing: border-box;
}

html,
body,
#react-page {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: var(--black);
  background: var(--white);
  user-select: none;
  padding: 0 40px;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

header {
  text-align: center;

  h1 {
    font-size: 26px;
    line-height: 36px;
    font-weight: bold;
  }

  p.descriptor {
    margin-top: 4px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: grey;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  p.centered {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}
